<a href="https://colab.research.google.com/github/jenghengpang/projecteuler/blob/main/Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

- get input
- process 
- output result

In [ ]:
# get input (comments)
name = input("Enter name: ")

# process
name = name.upper()

# output result
print(name)

Enter name: tom
TOM

In [ ]:
# Calculate BMI (body mass index)

# get weight 
weight = int(input("Enter weight (kg): ")) # integer
# get height
height = float(input("Enter height (m): ")) # float

# compute bmi
bmi = weight / (height * height)

# output bmi
print(bmi)

Enter weight (kg): 75
Enter height (m): 1.82
22.6421929718633

Shortcut for multiple line comment - Ctrl /

In [ ]:
# Multiples of 3 or 5 
# Problem 1
# If we list all the natural numbers below 10 that are multiples of 3 or 5, 
# we get 3, 5, 6 and 9. The sum of these multiples is 23.
# Find the sum of all the multiples of 3 or 5 below 1000.

# process


# output

In [ ]:
1 + 2

3

In [ ]:
4 - 3

1

In [ ]:
4 * 6

24

In [ ]:
9 / 4 # true division

2.25

In [ ]:
9 // 4 # integer division

2

In [ ]:
3 ** 4

81

In [ ]:
 8 % 3 # modulus

2

In [ ]:
8 % 4

0

In [ ]:
8 % 4 == 0 # boolean

True

In [ ]:
8 % 3 == 0

False

In [ ]:
if 8 % 3 == 0: # 9 is multiple of 3
  print("multiple")
else:
  print("not divisible")

not divisible

In [ ]:
num = 6

if num % 3 == 0: # divisible
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
for i in range(0, 5):
  print(i)

0
1
2
3
4

In [ ]:
total = 0

for i in range(1, 1000):
  # print(i)
  if (i % 3 == 0) or (i % 5 == 0): # divisible because zero remainder
    total = total + i # assignment

print(total)

233168